<footer class='footer'>
  <div class="container">
    <div class="clearfix">
      <!--dl class="footer-nav" style='width:auto' id ='popularDisabled'>
      <dt class="nav-title">Popular articles</dt-->
    <div class="footer-logo"><a href="#"><img src="/img/CirrusSmall.png" height='32px'>Cirrus Labs</a></div>
      <dl class="footer-nav">
      <dt class="nav-title">Browse articles</dt>
      <dd class="nav-item"><a href="#">Salesforce</a></dd>
      <dd class="nav-item"><a href="#">Heroku</a></dd>
    </dl>
      <dl class="footer-nav">
      <dt class="nav-title">Github</dt>
      <dd class="nav-item"><a href="https://github.com/benewen96/cirrus-kb">Contribute</a></dd>
      <dd class="nav-item"><a href="https://github.com/benewen96/cirrus-kb/issues">Submit a bug</a></dd>
    </dl>
      <dl class="footer-nav">
      <dt class="nav-title">Getting started</dt>
      <dd class="nav-item"><a href="/browse/a000Y000001N4yNQAS">Manual</a></dd>
      <dd class="nav-item"><a href="https://simplemde.com/markdown-guide">Markdown syntax</a></dd>
    </dl>
  </div>


  </div>
</footer>

<script src='/js/popularEntry_bundle.js'></script>
