<footer class='footer'>
  <div class="container">
    <div class="clearfix">
      <dl class="footer-nav" style='width:auto' id ='popular'>
      <dt class="nav-title">Popular articles</dt>
    </dl>
      <dl class="footer-nav">
      <dt class="nav-title">Browse articles</dt>
      <dd class="nav-item"><a href="#">Salesforce</a></dd>
      <dd class="nav-item"><a href="#">Heroku</a></dd>
    </dl>
      <dl class="footer-nav">
      <dt class="nav-title">Github</dt>
      <dd class="nav-item"><a href="https://github.com/benewen96/cirrus-kb">Contribute</a></dd>
      <dd class="nav-item"><a href="https://github.com/benewen96/cirrus-kb/issues">Submit a bug</a></dd>
    </dl>
  </div>
  <div class="footer-copyright text-center">Created by Ben Ewen</div>
  </div>
</footer>

<script src='/js/popularEntry_bundle.js'></script>
