{
"extends": "airbnb",
"env": {
 "browser": true,
 "node": true,
 "jquery": true,
},
"globals": {
  "SimpleMDE" : true,
  "lunr" : true,
  "DataTable" : true,
},
"rules": {
     "no-console": 0
},
"indent": ["error", "tab"],
}
