<div class="container">
  <h2>{{name}}</h2>
  <h4>By {{author}}</h4>
  <div class="jumbotron">
    <div class="jumbotron-contents">
      {{article}}
    </div>
  </div>
  <button type="button" onclick="window.location.href='/browse'" class="btn btn-danger">Back</button>
</div>
