<div class="progress progress-striped active" id='loading' style='height:5px;border-radius: 0 !important;-moz-border-radius: 0 !important;'>
  <div class="progress-bar progress-bar-danger" id='loadingbar' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
</div>
<div class="container">
  <div class='row'>
  <h2></h2>
  <div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>Browse articles...</h4>
				<p>Here's a list of all articles on the knowledge base</p>
			</div>
    </div>
  <div class='row'>
    <div class='search' style='padding-bottom:15px'>
      <div class="form-search search-only">
        <i class="search-icon glyphicon glyphicon-search"></i>
        <input id='searchfield' type="text" class="form-control search-query">
      </div>
    </div>
  </div>

  <div class='row'>
    <div id='article_list'>
    </div>
  </div>
</div>
<!-- Lunr JS search -->
<script src='/js/ext/lunr.js'></script>
<script src='/js/browseEntry_bundle.js'></script>
