<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cirrus KB</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<body>
	<!--Text area for markdown editor -->
	<textarea id='mdeditor'></textarea>
	<!--Save button -->
	<button id='save' onclick='save()'>Save</button>
</body>

<!--Initialise our markdown editor-->
<script src='js/create.js'></script>
</html>
